*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #092047;
    a{text-decoration: none;}
}

/* definindo os que vão preencher a largura toda da página */
body, header, main, footer{
    width: 100% !important;
}

header, footer{
    background-color: #09204794;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 10px #09204794;
}

header{
    /* a cor do background está definida 
    em conjunto com o footer (acima)*/

    position: fixed;
    top: 0;
    padding: 10px;
    height: 70px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-content: center;

    *{ /* todos dentro do header */
        color: #fff;
        align-content: center;
        text-align: center;
    }
    
    a.logo{
        display: flex;
        margin: 0 20px;
        color: white;
        text-decoration: none;
    }

    nav.barra-navegacao{
        display: grid;
        place-self: center;
        margin-top: 15px;
        font-size: 120%;
    

        *{ /* todos dentro da nav.barra-navegacao */
            align-content: center; 
            text-align: center;
            align-items: center;
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;

            li{
                margin: 0 15px;
                a{
                    display: grid;
                    grid-template-rows: 70% 30%;
                    justify-items: center;
                    
                    hr{
                        overflow: hidden;
                        border-width: 0 0 3px 0;
                        border-radius: 3px;
                        width: 0;
                        transition: all 0.4s;
                    }
                }

                :hover{ /* quando o li está sob hover*/
                    hr{
                        overflow: visible;
                        width: 100%;
                        color: #ffffff;
                        transition: all 0.4s;
                    }
                }
            }
        }
    }
}

main{
    margin: 70px 0 40px 0; /* distanciando do header e do footer */
    color: white;
    min-height : 100%;

    .main-section-container {
        padding: 20px 0;
        display: grid;
        justify-items: center;

        .medium-container-1, .medium-container-2{ /* todos os containers médios */
            height: fit-content;
            padding: 50px 0;
            width: 100%;

            .section-child{ /* os filhos dos containers médios */
                border-radius: 10px;
                padding: 30px;
                margin: 15px 15px;
                box-shadow: 0px 3px 10px rgb(0, 0, 0);
            }       
        }

        /* mudando as cores individualmente */

        .medium-container-1{
            background-color: #224580;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .section-child{
                border-radius: 0;
                background-color:#19283b;
                height: 100px;
                text-align: center;
                align-content: center;
                width: 30%;
            }
            
        }

       .medium-container-2{
            background-color: #deb7db;
            .section-child{background-color:#0c083b;}
        }
    }
}

footer{
    /* a cor do background está definida 
    em conjunto com o header (acima)*/

    bottom: 0;
    color: white;
    height: 100px;
    align-content: center;
    text-align: center;
    
    .footer-section-container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}