*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aliceblue;
    a{text-decoration: none;}
}

/* definindo os que vão preencher a largura toda da página */
body, header, main, footer{
    width: 100% !important;
}

header, footer{
    background-color: #84c1ed;
    backdrop-filter: blur(10px);
    /* box-shadow: 0px 3px 10px #29404f; */
}

header{
    /* a cor do background está definida 
    em conjunto com o footer (acima)*/
    /* position: fixed; */
    top: 0;
    height: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;

    *{ /* todos dentro do header */
        color:#224580;
        align-content: center;
        text-align: center;
    }
    
    a.logo{
        display: flex;
        margin: 0 20px;
      
        text-decoration: none;
    }

    nav.barra-navegacao{
        display: grid;
        place-self: center;
        margin-top: 15px;
        font-size: 120%;
    
        *{ /* todos dentro da nav.barra-navegacao */
            align-content: center; 
            text-align: center;
            align-items: center;
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;

            li{
                margin: 0 28px;
                margin-bottom: 8px;
                border-radius: 30px;
                transition: background-color 0.3s ease;

                a{
                    display: flex;
                    justify-items: center;
                    padding: 8px;
                    padding-left: 20px;
                    padding-right: 20px;
                    white-space: nowrap; /* Adicionado aqui */
                }
               
                a:hover{
                    color: white;
                }
            }

            li:hover {
                background-color: #284b78;
            }

            li.inicio {
                border-radius: 30px;
                background-color: #284b78; /* Para que o efeito de cor seja visível */
                a {
                    color: white; /* Para que o texto fique visível */
                }
            }
        }
    }
}

main{
     /* distanciando do header e do footer */
    color: white;
    max-width: 1540px;
    margin: 0 auto;
    min-height: 100vh;
    .main-section-container {
        
        display: grid;
        justify-items: center;

        .medium-container-1, .medium-container-2{ /* todos os containers médios */
            height: fit-content;
            padding: 50px 0;
            width: 100%;

            .section-child{ /* os filhos dos containers médios */
                border-radius: 10px;
                padding: 30px;
                margin: 15px 15px;
                box-shadow: 0px 3px 10px rgb(0, 0, 0);
            }       
        }

        /* mudando as cores individualmente */

        .medium-container-1{
            background-color: #84c1ed;
            width: 100%;
            display: flex;
            align-items: center;
            grid-template-columns: repeat(2, 2fr);
            display: grid;
            grid-gap: 1.5rem;

            .section-child{
                border-radius: 0;
                background-color:white;
                color: black;
                height: 100px;
                text-align: center;
                align-content: center;
                width: 30%;
            }

            .text-main{
                margin-left: 55px;
            }

            .text-main h1{
                color:#224580;
                font-size: 90px;
                margin-bottom: 10px;
            }

            .text-main h2{
                color:#224580;
                font-size: 30px;
                font-weight: 50;
            }
        }

       .medium-container-2{
            background-color: white;
            grid-template-columns: 100%;
            display: grid;
            grid-gap: 1.5rem;

           .text-main-2{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* Ajuste a altura conforme necessário */

            h1{
                color: #224580;
                font-size: 70px;
            }
           }

            .section-child{
                background-color:#0c083b;
            }
        }
    }
}

footer{
    /* a cor do background está definida 
    em conjunto com o header (acima)*/
    bottom: 0;
    color: #224580;
    height: 100px;
    align-content: center;
    text-align: center;
    
    .footer-section-container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}
